.center{
    text-align: center;
}

.subtitle{
    text-align: center;
    padding: 2rem;
    color: var(--text-color);
}

.statistic-card-text{
    font-size: 3rem;
    text-align: center;
}

.active-sidepanel{
    background-color: var(--primary-color) !important;
    color:#fff !important;
}

.active-sidepanel i, .active-sidepanel span{
    color:#fff !important;
}


.main-title{
    font-size: 4rem;
    color: var(--text-color);
    text-align: center;
    margin: 4%;
}

.card{  
    border: var(--border-item);
    box-shadow: var(--table-box-shadow);               
    color: #fff !important;
    padding: 5%;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
}

.card1-css{
    background-image: var(--var-card1-backgound-color);
}

.card-title{
    font-family: monospace;
    font-size: 2.5rem;
}

.apexcharts-tooltip {
    background: linear-gradient(to right bottom, #ffffff, #eeecef, #dfd9dd, #d2c5c9, #c4b3b3) !important;
    color:black !important;
    font-family: monospace !important;
    text-align: center;
}

.card-body{
    color: #fff !important;
}



.apexcharts-yaxis-label{
    color: #fff !important;
}


.card-statistics1{
    height: 90% !important;
}


.card-statistics2{
    height: 80% !important;
}



.logo-crypto-table{
	width: 13% !important;
}

.accordion{
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-btn-focus-border-color: none !important;
    --bs-accordion-active-color: var(--primary-color) !important;
    --bs-accordion-active-bg: var(--var-bg-accordions-title) !important;
    /* --bs-accordion-btn-active-icon: none !important; */
}

.accordion-body{
    background-color: var(--var-bg-accordions-body);
}

.background-text{
    /* background-image: var(--var-bg-text); */
    background-color: var(--primary-color);
}


@media only screen and (max-width:1000px){


    .col-adjust-menu{
        margin-left: 88px !important;
        width: 20% !important;
    }

    .col-adjust-menu .toggle{
        margin-left: 250px !important;
    }

    
}
