{% extends 'base.html' %}
    
{% block head %}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col main-title">Compare cryptos</div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="input-group mb-3 center">
                <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="insert crypto's id" id='coinListInput' onchange="freshDropdown()">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" id="btn-select-coin">Select coin</button>
                <ul class="dropdown-menu dropdown-menu-end" id='coinListDropdown'>
                    <li class = "dropdown-item"> insert a coin </li>
                </ul>
            </div>
            </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="input-group mb-3 center">
                <select class="form-select" aria-label="Default select example" id="coinDaysAgo" onchange="selectDaysAgo(this)" disabled>  // onchange="freshtimeSeries(this)" 
                    <option value="" selected>Days ago time series</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                  </select>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div style="text-align: center;" class="col-8 radio-inline" id="coins_selected">
            


        </div>
        <div class="col"></div>
    </div>

     <!-- Card 1 -->

     <div class="row">
        <div class="col"></div>
        <div class="col-8">

            <div class ="card card1-css">
                <div class="card-body">
                    <span class="card-title coin-time-series-coin1">Info coins</span>
                  
                    <div style="margin-top:4%" class="row">
                        <div style="text-align: left;" class="col">
                            <p style="font-size: 1.5rem">Info</p>
                            
                            <label>id: </label><br>
                            <label>name: </label><br>
                            <label>genesis date: </label><br>
                            <label>ATH (All Time High):</label><br>
                            <label>ATL (All Time Low):</label><br>
                            <label>ATH change:</label><br>
                            <label>ATL change:</label><br>
                            <br>

                            <hr><hr>

                            <br>
                            
                            <!-- nFormatter function -->
                            <label>Market cap rank: </label><br>
                            <label>Market cap: </label><br>
                            <label>Market cap 24h: </label><br>
                            <label>Market cap 24h %: </label><br>
                            <label>Total volume: </label><br>

                            <br>

                            <hr><hr>

                            <br>

                            <label>Current price: </label><br>
                            <label>high 24h: </label><br>
                            <label>low 24h: </label><br>

                            <label>Price change 24h: </label><br>
                            <label>Price change 24h in €: </label><br>

                            <label>Price change 7d: </label><br>
                            <label>Price change 14d: </label><br>
                            <label>Price change 30d: </label><br>
                            <label>Price change 60d: </label><br>
                            <label>Price change 200d: </label><br>
                            <label>Price change 1y: </label><br>

                            <br>

                            <hr><hr>

                            <br>
                            <label>Total supply: </label><br>
                            <label>Max supply: </label><br>
                            <label>Circulating supply: </label><br>
                       </div>
                       <div style="text-align: right; display: inline-block;" class="col">
                            <p  style="font-size: 1.5rem" id="coin-selected-1" >Coin1</p>

                            <label id="coin-id-1"></label><br>
                            <label id="coin-name-1"></label><br>
                            <label id="coin-genesis_date-1"></label><br>
                            <label id="coin-ath-1"></label><br>
                            <label id="coin-atl-1"></label><br>
                            <label id="coin-ath-change-percentage-1"></label><br>
                            <label id="coin-atl-change-percentage-1"></label><br>
                            <br>

                            <hr><hr>

                            <br>
                            
                            
                            <label id="coin-market_cap_rank-1"></label><br>
                            <label id="coin-market_cap-1"></label><br>
                            <label id="coin-market_cap-change-currency-24h-1"></label><br>
                            <label id="coin-market_cap-change-percentage-24h-1"></label><br>
                            <label id="coin-total_volume-1"></label><br>

                            <br>

                            <hr><hr>

                            <br>

                            <label id="coin-current_price-1"></label><br>
                            <label id="coin-high_24h-1"></label><br>
                            <label id="coin-low_24h-1"></label><br>


                            <label id="coin-price-change-percentage-24h-1"></label><br>
                            <label id="coin-price-change-currency-24h-1"></label><br>

                            <label id="coin-price-change-percentage-7d-1"></label><br>
                            <label id="coin-price-change-percentage-14d-1"></label><br>
                            <label id="coin-price-change-percentage-30d-1"></label><br>
                            <label id="coin-price-change-percentage-60d-1"></label><br>
                            <label id="coin-price-change-percentage-200d-1"></label><br>
                            <label id="coin-price-change-percentage-1y-1"></label><br>

                            <br>

                            <hr><hr>

                            <br>
                            <label id="total-supply-1"></label><br>
                            <label id="max-supply-1"></label><br>
                            <label id="circulating-supply-1"></label><br>

                       </div>
                       <div style="text-align: right; display: inline-block;" class="col">
                            <p style="font-size: 1.5rem" id="coin-selected-2">Coin2</p>

                            <label id="coin-id-2"></label><br>
                            <label id="coin-name-2"></label><br>
                            <label id="coin-genesis_date-2"></label><br>
                            <label id="coin-ath-2"></label><br>
                            <label id="coin-atl-2"></label><br>
                            <label id="coin-ath-change-percentage-2"></label><br>
                            <label id="coin-atl-change-percentage-2"></label><br>
                            <br>

                            <hr><hr>

                            <br>
                            
                            
                            <label id="coin-market_cap_rank-2"></label><br>
                            <label id="coin-market_cap-2"></label><br>
                            <label id="coin-market_cap-change-currency-24h-2"></label><br>
                            <label id="coin-market_cap-change-percentage-24h-2"></label><br>
                            <label id="coin-total_volume-2"></label><br>

                            <br>

                            <hr><hr>

                            <br>

                            <label id="coin-current_price-2"></label><br>
                            <label id="coin-high_24h-2"></label><br>
                            <label id="coin-low_24h-2"></label><br>


                            <label id="coin-price-change-percentage-24h-2"></label><br>
                            <label id="coin-price-change-currency-24h-2"></label><br>

                            <label id="coin-price-change-percentage-7d-2"></label><br>
                            <label id="coin-price-change-percentage-14d-2"></label><br>
                            <label id="coin-price-change-percentage-30d-2"></label><br>
                            <label id="coin-price-change-percentage-60d-2"></label><br>
                            <label id="coin-price-change-percentage-200d-2"></label><br>
                            <label id="coin-price-change-percentage-1y-2"></label><br>

                            <br>

                            <hr><hr>

                            <br>
                            <label id="total-supply-2"></label><br>
                            <label id="max-supply-2"></label><br>
                            <label id="circulating-supply-2"></label><br>
                        </div>
                        <div style="text-align: right; display: inline-block;" class="col">
                            <p style="font-size: 1.5rem" id="coin-selected-3">Coin3</p>

                            <label id="coin-id-3"></label><br>
                            <label id="coin-name-3"></label><br>
                            <label id="coin-genesis_date-3"></label><br>
                            <label id="coin-ath-3"></label><br>
                            <label id="coin-atl-3"></label><br>
                            <label id="coin-ath-change-percentage-3"></label><br>
                            <label id="coin-atl-change-percentage-3"></label><br>
                            <br>

                            <hr><hr>

                            <br>
                            
                            
                            <label id="coin-market_cap_rank-3"></label><br>
                            <label id="coin-market_cap-3"></label><br>
                            <label id="coin-market_cap-change-currency-24h-3"></label><br>
                            <label id="coin-market_cap-change-percentage-24h-3"></label><br>
                            <label id="coin-total_volume-3"></label><br>

                            <br>

                            <hr><hr>

                            <br>

                            <label id="coin-current_price-3"></label><br>
                            <label id="coin-high_24h-3"></label><br>
                            <label id="coin-low_24h-3"></label><br>


                            <label id="coin-price-change-percentage-24h-3"></label><br>
                            <label id="coin-price-change-currency-24h-3"></label><br>

                            <label id="coin-price-change-percentage-7d-3"></label><br>
                            <label id="coin-price-change-percentage-14d-3"></label><br>
                            <label id="coin-price-change-percentage-30d-3"></label><br>
                            <label id="coin-price-change-percentage-60d-3"></label><br>
                            <label id="coin-price-change-percentage-200d-3"></label><br>
                            <label id="coin-price-change-percentage-1y-3"></label><br>

                            <br>

                            <hr><hr>

                            <br>
                            <label id="total-supply-3"></label><br>
                            <label id="max-supply-3"></label><br>
                            <label id="circulating-supply-3"></label><br>
                        </div>
                    </div>
                    
                </div>
                <div>
                    <p style="margin-top: 2%" class="center">-> check glossary for any help:  <a href="/glossary.html" class="link-warning">click here</a></p>
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>


    <!-- Card 1 -->

    <div class="row">
        <div class="col"></div>
        <div class="col-8">

            <div class ="card card1-css">
                <div class="card-body">
                    <span class="card-title coin-time-series-coin">INSERT 3 COINS</span>
                  
                    <div style="margin-top:4%" class="row">
                       <div id = "time-series-coin">
                       </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>

</div>


{% endblock %}

{% block javascript %} 
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{{ url_for('static', filename='js/compare.js') }}"></script> 
{% endblock %}