{% extends 'base.html' %}
    
{% block head %}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col main-title">Compare cryptos</div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="input-group mb-3 center">
                <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="insert crypto's id" id='coinListInput' onchange="freshDropdown()">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">Select coin</button>
                <ul class="dropdown-menu dropdown-menu-end" id='coinListDropdown'>
                    <li class = "dropdown-item"> insert a coin </li>
                </ul>
            </div>
            </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="input-group mb-3 center">
                <select class="form-select" aria-label="Default select example" id="coinDaysAgo" onchange="freshtimeSeries(this)" disabled>  // onchange="freshtimeSeries(this)" 
                    <option value="" selected>Days ago time series</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                  </select>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div style="text-align: center;" class="col-8 radio-inline" id="coins_selected">
            


        </div>
        <div class="col"></div>
    </div>

     <!-- Card 1 -->

     <div class="row">
        <div class="col"></div>
        <div class="col-8">

            <div class ="card card1-css">
                <div class="card-body">
                    <span class="card-title coin-time-series-coin1">Info coins</span>
                  
                    <div style="margin-top:4%" class="row">
                        <div style="text-align: left;" class="col">
                            <p style="font-size: 1.5rem">Info</p>
                            
                            <label>symbol: </label><br>
                            <label>Current price: </label><br>
                            <label>Market cap:</label><br>
                            <label>Market cap rank:</label><br>

                            <hr><hr>

                            <label>high 24h:</label><br>
                            <label>low 24h:</label><br>
                            <label>Price change 24h €:</label><br>
                            <label>Price change 24h %:</label><br>

                            <hr><hr>

                            <label>Market change 24h:</label><br>
                            <label>Market change 24h %:</label><br>
                            <label>Circulating supply:</label><br>

                            <hr><hr>
                    
                            <label>Total supply:</label><br>
                            <label>Max supply:</label><br>
                            <label>ATH (All Time High):</label><br>
                            <label>ATL (All Time Low):</label><br>
                       </div>
                       <div style="text-align: right; display: inline-block;" class="col">
                            <p  style="font-size: 1.5rem" id="coin-selected1" >Coin1</p>

                            <label id="coin-symbol1"></label><br>
                            <label id="coin-current-price1"></label><br>
                            <label id="coin-market-cap1"></label><br>
                            <label id="coin-market-cap-rank1"></label><br>

                            <hr><hr>

                            <label id="coin-high24-1"></label><br>
                            <label id="coin-low24-1"></label><br>
                            <label id="coin-price-change24-1"></label><br>
                            <label id="coin-price-change24-percentage-1"></label><br>

                            <hr><hr>

                            <label id="coin-market-cap24-1"></label><br>
                            <label id="coin-market-cap24-percentage-1"></label><br>
                            <label id="coin-supply-1"></label><br>

                            <hr><hr>
                            
                            <label id="coin-total-supply-1"></label><br>
                            <label id="coin-max-supply-1"></label><br>
                            <label id="coin-ath-1"></label><br>
                            <label id="coin-atl-1"></label><br>

                       </div>
                       <div style="text-align: right; display: inline-block;" class="col">
                            <p style="font-size: 1.5rem" id="coin-selected2">Coin2</p>

                            <label id="coin-symbol2"></label><br>
                            <label id="coin-current-price2"></label><br>
                            <label id="coin-market-cap2"></label><br>
                            <label id="coin-market-cap-rank2"></label><br>
                            
                            <hr><hr>

                            <label id="coin-high24-2"></label><br>
                            <label id="coin-low24-2"></label><br>
                            <label id="coin-price-change24-2"></label><br>
                            <label id="coin-price-change24-percentage-2"></label><br>

                            <hr><hr>

                            <label id="coin-market-cap24-2"></label><br>
                            <label id="coin-market-cap24-percentage-2"></label><br>
                            <label id="coin-supply-2"></label><br>

                            <hr><hr>
                            
                            <label id="coin-total-supply-2"></label><br>
                            <label id="coin-max-supply-2"></label><br>
                            <label id="coin-ath-2"></label><br>
                            <label id="coin-atl-2"></label><br>
                        </div>
                        <div style="text-align: right; display: inline-block;" class="col">
                            <p style="font-size: 1.5rem" id="coin-selected3">Coin3</p>

                            <label id="coin-symbol3"></label><br>
                            <label id="coin-current-price3"></label><br>
                            <label id="coin-market-cap3"></label><br>
                            <label id="coin-market-cap-rank3"></label><br>

                            <hr><hr>

                            <label id="coin-high24-3"></label><br>
                            <label id="coin-low24-3"></label><br>
                            <label id="coin-price-change24-3"></label><br>
                            <label id="coin-price-change24-percentage-3"></label><br>

                            <hr><hr>

                            <label id="coin-market-cap24-3"></label><br>
                            <label id="coin-market-cap24-percentage-3"></label><br>
                            <label id="coin-supply-3"></label><br>

                            <hr><hr>
                            
                            <label id="coin-total-supply-3"></label><br>
                            <label id="coin-max-supply-3"></label><br>
                            <label id="coin-ath-3"></label><br>
                            <label id="coin-atl-3"></label><br>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>


    <!-- Card 1 -->

    <div class="row">
        <div class="col"></div>
        <div class="col-8">

            <div class ="card card1-css">
                <div class="card-body">
                    <span class="card-title coin-time-series-coin">INSERT 3 COINS</span>
                  
                    <div style="margin-top:4%" class="row">
                       <div id = "time-series-coin">

                       </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>

</div>


{% endblock %}

{% block javascript %} 
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{{ url_for('static', filename='js/compare.js') }}"></script> 
{% endblock %}