{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col main-title">Glossary</div>
        <p class="subtitle">In this section you will find questions and answers of your main doubts:</p>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-8">

            <div class="accordion" id="accordionExample">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingZero">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="false" aria-controls="collapseZero">
                            What are cryptocurrencies ?
                      </button>
                    </h2>
                    <div id="collapseZero" class="accordion-collapse collapse" aria-labelledby="headingZero" data-bs-parent="#accordionExample"> <!-- in class make show to be opened on reload-->
                      <div class="accordion-body">
                          <strong>Cryptocurrency </strong> is a digital payment system that doesn't rely on banks to verify transactions. It’s a peer-to-peer system that can enable anyone anywhere to send and receive payments. Instead of being physical money carried around and exchanged in the real world, cryptocurrency payments exist purely as digital entries to an online database describing specific transactions. When you transfer cryptocurrency funds, the transactions are recorded in a public ledger. Cryptocurrency is stored in digital wallets.
  
                          <br>
                          <br>
  
                          <strong>Cryptocurrency</strong> received its name because it uses encryption to verify transactions. This means advanced coding is involved in storing and transmitting cryptocurrency data between wallets and to public ledgers. The aim of encryption is to provide security and safety.

                          <br>
                          <br>

                          The first cryptocurrency was Bitcoin, which was founded in 2009 and remains the best known today. Much of the interest in cryptocurrencies is to trade for profit, with speculators at times driving prices skyward.

                          <br>
                          <br>
                          <p class="center"> -> You can read more about on: <a href="https://www.kaspersky.com/resource-center/definitions/what-is-cryptocurrency" class="link-danger">click here</a></p>
                      </div>
                    </div>
                  </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        What Are ICOs ?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample"> <!-- in class make show to be opened on reload-->
                    <div class="accordion-body">
                        <strong>ICOs</strong> are another form of cryptocurrency that businesses use in order to raise capital. Through ICO trading platforms, investors receive unique cryptocurrency “tokens” in exchange for their monetary investment in the business. It is a means of crowdfunding through the creation and sale of a digital token to fund project development.

                        <br>
                        <br>

                        This unique token functions like a unit of currency that gives investors access to certain features of a project run by the issuing company. These tokens are unique because they help fund open-source software projects that would otherwise be tough to finance with traditional structures.

                        <br>
                        <br>
                        <p class="center"> -> You can read more about on: <a href="https://www.investopedia.com/terms/i/initial-coin-offering-ico.asp" class="link-danger">click here</a></p>
                    </div>
                  </div>
                </div>


                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      How do i read these statistics?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p><strong class="badge background-text text-wrap">ATH (All Time High):</strong> refers to the highest price (or market cap) that an asset has reached since its listing or inception. As the price used to define the "all-time high" is the last done, it just refers to the highest price a trader paid for an asset, regardless of how much he bought of the asset.</p>

                        <p><strong class="badge background-text text-wrap" >ATL (All Time Low):</strong> the lowest point (in price, in market capitalization) that a cryptocurrency has been in history.</p>

                        <p><strong class="badge background-text text-wrap">Market cap:</strong> traditionally, it refers to the monetary market value of a company based on outstanding shares of stock. Market capitalization is used to show the size of the company. in Crypto, market cap is measured by multiplication of the circulating supply of tokens or currency and its current price.</p>

                        <p><strong class="badge background-text text-wrap">Volume:</strong> how much cryptocurrency has been traded over a set period. Volume is the sum total of actual trades taking place, meanwhile liquidity is the amount available for trading at any single price.</p>

                        <p><strong class="badge background-text text-wrap">Circulating supply:</strong> the best approximation of the number of coins that are circulating in the market and in the general public’s hands.  It excludes coins which can be created but are yet to do so. </p>
                        <p style="text-align: center;"><i>Circulating supply = coins mined and can be used (excludes coins which can be created but are yet to do so)</i></p>

                        <p><strong class="badge background-text text-wrap">Total supply:</strong> the total amount of coins in existence right now, minus any coins that have been verifiably burned</p>
                        <p style="text-align: center;"><i>Total supply = Max supply - coins burned</i></p>

                        <p><strong class="badge background-text text-wrap">Max supply:</strong> is the best approximation of the maximum amount of coins that will ever exist in the lifetime of the cryptocurrency. Once the maximum supply is exhausted, no new coins or tokens will be produced or mined. Most cryptocurrencies come with a maximum supply. Not all cryptocurrencies have a predetermined fixed supply, and one of them is Ether. Maximum supply is calculated by adding the total amount of coins that have been mined with those that have yet to be mined.</p>
                        <p style="text-align: center;"><i>Max supply = coins mined + coins burned + coins to be mined => limit</i></p>

                        <p><strong class="badge background-text text-wrap">Market:</strong> an area or arena, online or offline, in which commercial dealings are conducted.</p>
                        
                    </div>
                  </div>
                </div>


                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        What does it mean if a cryptocurrency has no max supply/total supply?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Not all cryptocurrencies have a predetermined fixed supply/total supple, and one of them is Ether. We do rappresent them as:</p>

                        <p style="text-align: center"><i>Max supply = Nan</i></p>
                        <p style="text-align: center"><i>Total supply = Nan</i></p>
                    </div>
                  </div>
                </div>


                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        What statistical model did you use for the forecasting ?
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>The forecasting model used in this dashboard is: </p>
                      <p class="center"><i>LSTM (Long short term memory)</i></p>
                      <p>The current model return 30 forecast days.</p>
                    </div>
                  </div>
                </div>


                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        How do i read the metric numbers?
                    </button>
                  </h2>
                  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>All the numbers has 5 decimal digits except for really long numbers (such as: volume, market cap, ....)  where the digit is only 1.</p>
                        
                        <p class="center"><i>10^18 = E</i></p>
                        <p class="center"><i>10^15 = P</i></p>
                        <p class="center"><i>10^12 = T</i></p>
                        <p class="center"><i>10^9 = G</i></p>
                        <p class="center"><i>10^6 = M</i></p>
                        <p class="center"><i>10^3 = K</i></p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        How the total days are counted?
                    </button>
                  </h2>
                  <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>The forecast model returns 30 days. So you have to count that the total days are:</p>
                        <p class="center"><i>Days ago (selected) + 1 (current crypto price) + 30 forecast days </i></p>
                    </div>
                  </div>
                </div>


                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        How do i read the neural network metrics?
                    </button>
                  </h2>
                  <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        
                      <p><strong class="badge background-text text-wrap">RMSE:</strong> is a standard deviation of prediction errors or residuals. It indicates how spread out the data is around the line of best fit. RMSE also has the useful property of being on the same scale/units as the Target variable. As the name suggests, it is the square root of average squared errors between observed and predicted values for the target variable.</p>

                      <p><strong class="badge background-text text-wrap">MSE:</strong> tells you how close a regression line is to a set of points. It does this by taking the distances from the points to the regression line (these distances are the “errors”) and squaring them. The squaring is necessary to remove any negative signs. It also gives more weight to larger differences. It’s called the mean squared error as you’re finding the average of a set of errors. The lower the MSE, the better the forecast.</p>

                      <p><strong class="badge background-text text-wrap">MAE: </strong> is the average of all absolute errors. It is the difference between the measured value and “true” value. </p>

                      <p><strong class="badge background-text text-wrap">RSCORE:</strong> correlation coefficient formulas are used to find how strong a relationship is between data. The formulas return a value between -1 and 1, where </p>
                      <p class="center"><i>1 indicates a strong positive relationship;</i></p>
                      <p class="center"><i>-1 indicates a strong negative relationship;</i></p>
                      <p class="center"><i>0 indicates no relationship at all;</i></p>

                      <p><strong class="badge background-text text-wrap">MGD:</strong> Mean Gamma deviance regression loss. Gamma deviance is equivalent to the Tweedie deviance with the power parameter power=2 . It is invariant to scaling of the target variable, and measures relative errors. In general, the higher power the less weight is given to extreme deviations between true and predicted targets </p>
                      <p class="center"><i>Returns a non-negative floating point value (the best value is 0.0).</i></p>

                      <p><strong class="badge background-text text-wrap">MPD:</strong> Mean Poisson deviance regression loss. Poisson deviance is equivalent to the Tweedie deviance with the power parameter power=1. </p>
                      <p class="center"><i>Returns a non-negative floating point value (the best value is 0.0).</i></p>
                    </div>
                  </div>
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>
</div>


{% endblock %}

{% block javascript %} 
    <script src="{{ url_for('static', filename='js/compare.js') }}"></script> 
{% endblock %}